<ng-container *ngIf="product">
    <div class="card">
        <img class="card-img-top" [src]="product.image" [alt]="product.title" height="150">
        <div class="card-body">
            <h5 class="card-title">{{product.title | slice:0:15}}</h5>
            <p class="card-text">${{product.price}}</p>
            <a *ngIf="isMainPage" class="btn btn-primary" [routerLink]="['product', product.id]">
                {{'COMPONENTS.PRODUCT-CART.more-btn' | translate}}</a>
            <a *ngIf="!isMainPage" class="btn btn-primary"
                [routerLink]="['/', 'product', product.id]">{{'COMPONENTS.PRODUCT-CART.more-btn' | translate}}</a>
            <div class="row">
                <div class="col-6 text-center" *ngIf="product.isInternational">

                    <span>🌎</span>

                </div>
                <div class="col-6 text-center" *ngIf="product.isTopSales">

                    <span>📈</span>

                </div>
            </div>
        </div>
    </div>
</ng-container>