<section class="container section">
    <div class="container py-4" *ngIf="productData">
        <a routerLink="/" class="btn btn-outline-info">{{'PAGES.PRODUCT-DETAILS.go-back-btn' |translate}}</a>
    </div>

    <div class="row" *ngIf="productData">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="product-image-container py-md-5 px-md-5 py-sm-2">
                <img [src]="productData.image" [alt]="productData.title" class="product-image fade-in">
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="py-md-5 px-md-5 py-sm-2">
                <h3>{{productData.title}}</h3>
                <h6>{{productData.category}}</h6>
                <h3>${{productData.price}}</h3>
                <p>{{productData.description}}</p>
            </div>
            <hr>
            <div class="py-md-5 px-md-5 py-sm-2">
                <button class="btn btn-primary">{{'PAGES.PRODUCT-DETAILS.buy-btn' |translate}}</button>
                <button class="btn btn-outline-secondary ml-4">{{'PAGES.PRODUCT-DETAILS.add-to-cart-btn' |translate}}</button>
            </div>
        </div>
    </div>

    <div class="others-container my-5" *ngIf="productData">
        <h2>{{'PAGES.PRODUCT-DETAILS.may-like' |translate}}</h2>
        <div class="row">
            <app-product-card *ngFor="let product of ($productsLikeThis | async)" [product]="product"
                [isMainPage]="false" class="col-lg-4 col-md-6 col-sm-12 my-2"></app-product-card>
        </div>
    </div>
</section>