<footer>
    <div class="container">
        <div class="row">
            <div class="col-md col-sm-12 my-auto">
                <p class="text-center">
                    <a href="#" class="nav-link">
                        {{'COMPONENTS.FOOTER.home' | translate}}
                    </a>
                </p>
            </div>
            <div class="col-md col-sm-12 my-auto">
                <p class="text-center">
                    <a href="#" class="nav-link">
                        {{'COMPONENTS.FOOTER.privacy' | translate}}
                    </a>
                </p>
            </div>
            <div class="col-md col-sm-12 my-auto">
                <p class="text-center">
                    <a href="#" class="nav-link">
                        {{'COMPONENTS.FOOTER.conditions' | translate}}
                    </a>
                </p>
            </div>
            <div class="col-md col-sm-12 my-auto">
                <p class="text-center">
                    <a href="#" class="nav-link">
                        {{'COMPONENTS.FOOTER.support' | translate}}
                    </a>
                </p>
            </div>
            <div class="col-md col-sm-12 my-auto">
                <p class="text-center">
                    <a href="#" class="nav-link">
                        {{'COMPONENTS.FOOTER.contact' | translate}}
                    </a>
                </p>
            </div>
        </div>
        <p class="text-center my-5">{{'COMPONENTS.FOOTER.copy' | translate}} © {{year}} {{'COMPONENTS.NAVBAR.title' | translate}}</p>
    </div>
</footer>